/*Partie Index*/

#indexTitre {
    text-align: center;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    background-color: rgb(172, 70, 51);
}

.indexTab {
    margin-left: 36%;
    margin-top: 3%;
    text-align: center;
    color: black;
    font-size: x-large;
    background-color: white;

}

#indexAnnonce{
    margin-left: 23%;
}
.espacement {
    background-color: rgb(31,83 , 47);
    width: 50;
}
.indexBouton{
    background-color: rgb(31,83 , 47);
    color: rgb(255, 201, 14);
    border-color: rgb(31,83 , 47);
    border-radius: 5px;
}

/*Partie ITEMS*/

.itemsTab{
    margin: auto;
    text-align: center;
    color: black;
    background-color: whitesmoke;
    border-collapse: collapse;
    border-width: 2px;
    

}

.itemsTitre{
    vertical-align: middle;
    text-align: center;
    color: rgb(2, 70, 2);
    font-size:55px;
    font-family: 'Bahnschrift', sans-serif;
    background-color: whitesmoke;
    
}

.itemsLigne{
    width: 300px;
    padding-bottom: 15px;
    font-size: 23px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}

.produit{
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: 'Bahnschrift', sans-serif;
    background-color: whitesmoke;
    }

.prix{
    background-color: rgb(255, 201, 14);
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Bahnschrift', sans-serif;
    border-radius: 10px;
}
.menuBurgers{
    background-color: rgb(31,83 , 47);
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Bahnschrift', sans-serif;
    border-radius: 10px;
    border-color:rgb(255, 201, 14) ;
    box-shadow: black;
}


#récap{
    color: white;
    background-color: rgb(31,83 , 47);
    text-align: left;
    font-family: 'Bahnschrift', sans-serif;
    font-size: 25px;
}
#commande{
    margin: left;
    text-align: left;
    color: black;
    background-color: white;
}
#rempliAuto{
    text-align: left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    font-size: 15px;
    font-style: italic;

}
#boutonPayer{
    background-color: rgb(255, 201, 14);
    color: white;
    font-size: 45px;
    font-family: 'Bahnschrift', sans-serif;
    border-radius: 10px;
    border-color: rgb(255, 201, 14); 
}
#payer{
    margin-left: 43%;
    margin-top: -6%;
}
/*Partie MENU*/

.menuTab{
    margin: auto;
    text-align: center;
    color: black;
    background-color: whitesmoke;
    border-collapse: collapse;
    border-width: 2px;
}

#tabMenu{
    margin: auto;
    text-align: center;
    background-color: rgb(31,83 , 47);

}
#boutonPasPayer{
    width: 350px;
    background-color:rgb(146, 146, 146);
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    border-radius: 12px;
    border-color: black;
}
#pasPayer{
    margin-left: 43%;
    margin-top: -5.5%;
}
#ajoutercommande{
    background-color: rgb(31,83 , 47);
    text-align: center;
    color:white;
    font-size: 18px;
    font-family: 'Bahnschrift', sans-serif;
    border-radius: 10px;
    border-color:rgb(255, 201, 14) ;
}

#retour{
    background-color: rgb(31,83 , 47);
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: 'Bahnschrift', sans-serif;
    border-radius: 10px;
    border-color:rgb(255, 201, 14) ;
}
/*Partie ADMIN*/

#tabadmin{
    margin: auto;
    text-align: center;
    background-color: white;
}

#adminTitre{
    vertical-align: middle;
    text-align: center;
    color:white;
    font-size:55px;
    font-family: 'Bahnschrift', sans-serif;
    background-color: rgb(31,83 , 47);

}

.adminTab{
    margin: auto;
    text-align: center;
    color: rgb(31,83 , 47);
    background-color: white;
    border-collapse: collapse;
    border-width: 2px;
}

.adminTitre{
    vertical-align: middle;
    text-align: center;
    color: rgb(31,83 , 47);
    font-size:30px;
    font-family: 'Bahnschrift', sans-serif;
    background-color: white;
    padding-bottom: 15px;
    text-decoration: underline;
}


#connect{
    background-color: rgb(255, 201, 14);
    color: white;
    font-size: 30px;
    font-family: 'Bahnschrift', sans-serif;
    border-radius: 10px;
    border-color: rgb(255, 201, 14);    
}

/*Partie COMMANDE*/

#récap2{
    color: white;
    background-color: rgb(31,83 , 47);
    text-align: center;
    font-family: 'Bahnschrift', sans-serif;
    font-size: 45px;
}

.commandeLigne{
    text-align: center;
    width: 500px;
    padding-bottom: 15px;
    font-size: 38px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}

#commande2{
    margin: auto;
    text-align: center;
    color: black;
    background-color: white;
}
#payer2{
    margin: auto;
    margin-top: 12%;
}

/*Partie VUE ADMIN*/
#vuecomm{
    margin: auto;
    background-color: white;
    color: black;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.vueLigne{
    text-align: center;
    width: 200;
    padding-bottom: 5px;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.vuerow{
    text-align: center;
    width: 150;
    padding-bottom: 20px;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    background-color: rgb(255, 201, 14);
    color: rgb(31,83 , 47);
}

